.not-found {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.redirect {
  font-size: 2rem;
}

img {
  width: 500px;
  height: 500px;
}

.redirect > a {
  color: blue;
  text-decoration: underline;
}
