.not-found {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.fourths {
  font-size: 10rem;
}

.page {
  font-size: 2rem;
}

.path {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
}

.path > p {
  color: red;
}

.warning {
  font-size: 1.2rem;
}

.redirect {
  font-size: 2rem;
}

.redirect > a {
  color: blue;
  text-decoration: underline;
}
